.sidebar ul {
    list-style: none;
    padding: 0;
  }

.sidebar{
    width: 18vw;
}
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar li.selected {
    font-weight: bold;
    background-color: #f3f4f6;
  }

  .content {
    height: 91vh;
    width: 82vw;
  }
  
  .content section {
    margin-bottom: 20px;
  }
  
  .content h2 {
    margin-top: 0;
  }
  
  .products {
    display: flex;
    width: 1120px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 200px;
  }
  
  .product-card img {
    height: 50%;
  }
  